<div class="UpLoadFile-container">
  <form class="UpLoadFile" action="subirArchivos.php" method="post" enctype="multipart/form-data">
    <h2 class="UpLoadFile__LBLTitle">Arrastra y suelta tus documentos</h2>
    <p class="UpLoadFile__PRFInstruction">
      Para arrastrar un archivo debe hacerlo desde el Explorador de Archivos o puede
      <a class="UpLoadFile__LNKInstruction"> hacer clic Aqui</a></p>
    <button class="UpLoadFile__BTN-file">Selecciona tus archivos</button>
    <input class="UpLoadFile__INPFile" type="file" name="file" hidden multiple>
    
    <div class="UpLoadFile-container__preview"></div>
    
    <button class="UpLoadFile-container__BTN-send" type="submit"> Subir </button>
  </form>
</div>
</script>
