body
{
    margin: 0;
    padding: 0;
    background: url(../img/bg.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
::placeholder {color: #353232;}
.Register-box
{
    width: 900px;
    height: 500px;
    background: #009EFA;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin-top: 20px;
    padding: 55px 0px 50px 50px;
}
.Register-box label
{
    font-size: 20px;
    margin-bottom: -10px;
    padding: 0;
    font-weight: bold;
    display: block;
}
.Register-box input[type="text"], .Register-box input[type="password"], .Register-box input[type="email"], .Register-box input[type="date"]
{
    width: 200px;
    height: 30px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 15px;
}
.Register-box input[type="submit"]
{
    width: 225px;
    height: 50px;
    margin-left: 0%;
    border: none;
    outline: none;
    background-image: linear-gradient(to right ,#0683cc, rgb(23, 86, 202));
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
}
.Register-box .avatar {
    width: 170px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(47% - 50px);
  }
.Columns
{
    width: 33.333333333333333%;
    float: left;
}