@import '../HTML/footer/footer.css';
@import '../HTML/nav/nav.css';

*{
  /* paleta de colores */
}

.functions{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
