/* Basic styles  */
#gantt{
	font-family: "Roboto";
}

#gantt table{
	border-collapse: collapse;
	border-spacing: 0px 20px;
}

table tr{
	border-bottom: 5px solid white;
}

#gantt table tr th{
	border: 1px solid white;
	border-collapse: collapse;
	padding: 9px;
	font-size: 12px;
	background-color: lightgray;
	line-height: 35px;
}


#gantt table tr td{
	padding: 5px;
	line-height: 35px;
	border-left: 1px dotted gray;
	width: 250px;
}

#gantt table tr td:last-child{
	border-right: 1px dotted gray;
}

#gantt table tr td.event-cell{
	color: white;
	font-size: 12px;
	text-align: left;
	padding-left: 10px;
	border-radius: 26px;
	border-left: none;
}

#gantt table tr td.event-cell:last-child{
	border-right: none;
}

#gantt table tr td.event-cell span{
	background-color: #f6a400;
	padding: 5px 10px;
	border-radius: 15px;
	margin-right: 10px;
	color: #685c43;
}