@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  height: 8rem;
  background: #009EFA ;
}

header img{  
 margin-top: 5px;
  height: 110px;
}

.sectionImg img {
  
  height: 350px;
}

@media (max-width:600px) {
  .sectionImg img {
      height: 200px;
  } 
}