.body{
	background-image:url(../Recurses/Coteus_Carpetas_Icons.svg);
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: all;
	background-color: #0c27ac;
	height: 100%;
	width: 99%;
}

.section{
	height: 600px;
	width: 600px;
	margin-top: 2%;
	margin-left: 1%;
	margin-bottom: 2%;
	align-content: center;
	border-radius: 10%;
	display: grid;
	background-color: #f5f7fb;
	padding: 30px;
}

.Clogo{
	caption-side: center;
	width: 100%;
	height: 100%;
}

#text_recuad{
	font-weight: bolder;
	font-family: arial;
}

#logbuttons{
	cursor: pointer;
	border-color: #0c27ac;
	border-radius: 20vh;
	width: 30%;
	height: 120%;
	font-size: 150%;
	background-color: #0c27ac;
	color: #3272ff; 
}

#logbuttons:hover{
	border-color: #3272ff;
	background-color: #3272ff;
	color: white; 
}

