*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-register{
    width: 95%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 15px;
}
.form__title{
    font-family: 'Inconsolata', monospace;
    letter-spacing: .2rem;
    padding: 0px 0px 20px 0px;
    margin: 5px 5px 20px 5px;
    font-size: 1.7em;
    text-align: center;
    border-bottom: solid black;
}
.form__label, .form__input{
    letter-spacing: .1rem;
    display: block;
}
.form__label{
    cursor: pointer;
}
.form__input{
    width: 80%;
    padding: 10px;
    font-size: 1em;
    border: #2f2e31 solid 2px;

}
.form__input:focus{
    border: red solid 2px;
    background-color: #f3600a;
}
.form__file{
    font-size: 1em;
    margin: 10px 0;
    width: 100%;
}
.container__flex{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
}
.form__submit{
    width: 100%;
    background: #451eb9;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: .2rem;
    font-weight: bold;
}
