.body{
	background-image: url(../img/carpetas.svg);
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: all;
	background-color: #0c27ac;
}

.sectionr{
	width: 550px;
	height: 550px;
	margin-top: 2%;
	align-content: center;
	border-radius: 20px;
	display: grid;
	background-color: #f5f7fb;
	position: relative;
}

.contentr{
	position: absolute;
}

.Clogo{
	width: 500px;
	position: relative;
	margin-top: 10%;
}

.text_recuad{
	font-weight: bolder;
	font-family: arial;
	position: relative;
	margin-top: 10%;
}

#firstext{
	margin-top: 5%;
}

.cbuttons{
	position: relative;
}

.logbuttons{
	margin-top: 10%;
	border-color: #0c27ac;
	border-radius: 20px;
	width: 150px;
	height: 40px;
	background-color: #0c27ac;
	color: #3272ff;
	font-size: 120%;
	position: absolute;
}

#Loginbutton{
	margin-left: -160px;
}

#Logonbutton{
	margin-left: 10px;
}


.logbuttons:hover{
	border-color: #3272ff;
	background-color: #3272ff;
	color: white;
	cursor: pointer;
}
